@model IEnumerable<Notatnik_użytkowników.Models.UserModel>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<p>
    <a asp-action="Create">Dodaj użytkownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalAttribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRaport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalAttribute)
                </td>
                <td>
                    <center>@Html.CheckBox("UserRaport", item.UserRaport, new { @disabled = "disabled" })</center>
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.UserId }) |
                    @Html.ActionLink("Dodaj do raportu", "AddToRaportList", new { id = item.UserId })
                </td>
            </tr>

        }
    </tbody>
</table>

<p>  
    <a asp-action="Download">Wygeneruj raport dla zaznaczonych użytkowników</a>
</p>